.text{
        text-decoration: none;
        margin: 10%;
        color: rgb(187, 25, 25);
        
    }
main{
   margin: 10%; border: thin solid; padding: 0.5em;
   margin-top: 2%;
   background: #EFF; color: black; box-shadow: 0 0 0.25em #033;
 }
summary::-webkit-details-marker {
  display: none;
}
/*
html{
position: relative;
}
*/
