.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
.embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
h1{margin-left: 45%;}
.text{
        text-decoration: none;
        margin: 10%;
        color: rgb(187, 25, 25);
        
    }
main{
   margin: 10%; border: thin solid; padding: 0.5em;
   margin-top: 2%;
   background: #EFF; color: black; box-shadow: 0 0 0.25em #033;
 }
summary::-webkit-details-marker {
  display: none;
}

