<html>

<style>
a{
    text-decoration: none;
}
#res1{
    margin-left: -9%;
}
</style>
<link type="text/css" href="{{ url_for('static', filename='css/library.css')}}" rel="stylesheet" />


<!--//////////////////////////////////////////////Responsive Web Design with HTML5 and CSS - Third Edition////////////////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/responsive-web-design/'>✠ <strong><i style="font-size:20px;">Responsive Web Design with HTML5 and CSS - Third Edition</i></strong> ✠</a>
<span id=res1><a href="/resources">Resources</a></span>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<br>
<!--//////////////////////////////////////////////Learn Algorithmic Trading////////////////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/learn-algorithmic-trading/'>✠ <strong><i style="font-size:20px;">Learn Algorithmic Trading</i></strong> ✠</a><br>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<!--//////////////////////////////////////////////Hands-On Financial Trading with Python////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/hands-on-financial-trading'>✠ <strong><i style="font-size:20px;">Hands-On Financial Trading with Python</i></strong> ✠</a>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</details>


</html>