<style>
    #d1{
        margin: 2%;
    }
</style>

<details id=d1>
 <summary>Resource for book: <em>Responsive Web Design with HTML5 and CSS - Third Edition"</em></summary>
<main >
<tbody>
<tr><h6><a class="text" href = "https://validator.w3.org/#validate_by_uri+with_options">1. Validator 🌟</a></h6></tr>

<tr><h6><a class="text" href = "https://validator.w3.org/#validate_by_uri+with_options">2. Living Standard Html5 <i>— Last Updated 20 September 2021</i></a></h6></tr>

<tr><h6><a class="text" href = "https://www.w3.org/WAI/WCAG21/quickref/">3. WCAG 2.1</a></h6></tr>

<tr><h6><a class="text" href = "https://www.w3.org/WAI/standards-guidelines/aria/">4. WAI-ARIA</a></h6></tr>

<tr><h6><a class="text" href = "https://alistapart.com/article/creating-intrinsic-ratios-for-video/">5. Creating Intrinsic Ratios for Video</a></h6></tr>

</tbody>
</main>
</details>