{% extends 'base.html' %}
 
{% block content %}
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

{{ super() }}

<h1>☭</h1>


<details open>
<summary style ="padding-left:5%;font-size:30px;"><em>Library</em> </summary> 

<!--//////////////////////////////////////////////Responsive Web Design with HTML5 and CSS - Third Edition////////////////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/responsive-web-design/'>✠ <strong><i style="font-size:20px;">Responsive Web Design with HTML5 and CSS - Third Edition</i></strong> ✠</a>
<details>
 <summary style ="padding-left:50%; margin-top: -25px;"><em>Resources</em></summary>
<main >
<tbody>
<tr><h6><a class="text" href = "https://validator.w3.org/#validate_by_uri+with_options">1. Validator 🌟</a></h6></tr>

<tr><h6><a class="text" href = "https://validator.w3.org/#validate_by_uri+with_options">2. Living Standard Html5 <i>— Last Updated 20 September 2021</i></a></h6></tr>

<tr><h6><a class="text" href = "https://www.w3.org/WAI/WCAG21/quickref/">3. WCAG 2.1</a></h6></tr>

<tr><h6><a class="text" href = "https://www.w3.org/WAI/standards-guidelines/aria/">4. WAI-ARIA</a></h6></tr>

<tr><h6><a class="text" href = "https://alistapart.com/article/creating-intrinsic-ratios-for-video/">5. Creating Intrinsic Ratios for Video</a></h6></tr>

</tbody>
</main>
</details>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->



<!--//////////////////////////////////////////////Learn Algorithmic Trading////////////////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/learn-algorithmic-trading/'>✠ <strong><i style="font-size:20px;">Learn Algorithmic Trading</i></strong> ✠</a><br>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<!--//////////////////////////////////////////////Hands-On Financial Trading with Python////////////////////////////////////////////////////////////////////////////////////-->
<a class="text" href='https://learning.oreilly.com/library/view/hands-on-financial-trading'>✠ <strong><i style="font-size:20px;">Hands-On Financial Trading with Python</i></strong> ✠</a>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</details>











<!--3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333-->

{% endblock %}